*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
  width: 100%;
  
  background-image: linear-gradient(blue,white);
}


/* nav as a flexbox */


.div1 nav ul{
list-style-type: none;
margin: 0;
padding: 0;

display: flex;
justify-content: flex-end;
/* justify-content: space-around; */
}
.div1 nav ul li{
  padding: 14px;
cursor: pointer;



}
.div1 nav ul li:hover{
  background-color: #555;
color: white;
background-image: linear-gradient(blue,rgb(157, 157, 196));
}

.div1 nav ul li a {
  
  padding: 14px;
  text-decoration: none;

  }

  .div1 nav ul li a b {
  
  
    font-size: 18px;
        font-weight: 800;
        color: #fff;
        line-height: 1em;
        text-transform: uppercase;    
      }



.container{
    display: flex;
    
  
  
}
.card1{
    margin: 10px;
    
}
.card1 img{
    width: 500px;
    
    height: 100%;
}
.card2{

    margin: 10px;
    border: 1px solid black;
    
    padding: 20px;
}
footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  padding: 30px;
  background-color: #555;
  margin: 10px;
}
.footer3{
list-style-type: none;
margin: 0;
padding: 0;

justify-content: space-evenly;

display: flex;
justify-content: flex-end;
 
  
  
}

.footer3 li{
  padding: 20px;
}


@media all and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-content: center;
  }
  nav ul li {
      
    text-align: center;
  }
  .container {
    flex-direction: column;
    align-content: center;
  }
  .card1 img{
    width: 100%;
  }

  
  

}